body {
  font-family: Verdana;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

button {
  color: white;
  background-color: rgb(104, 104, 255);
  height: 40px;
  width: 120px;
  border-radius: 10px;
  border: none;
}

button:hover {
  background-color: rgb(66, 66, 255);
  cursor: pointer;
}

h1 {
  font-size: 2rem;
  color: rgb(66, 66, 255);
}

p {
  font-size: x-large;
}
